body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.link-circle-hover {
  transition: all 0.3s;
}

.link-circle-hover:hover {
  border-radius:50%;
  box-shadow: 0 0 0 0.6em rgb(218, 220, 224), inset 0 0 0 1em rgb(218, 220, 224);
}

#cookie-login-loading {
  color: #17a2b8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#cookie-login-loading > i {
  font-size: 20rem;
}

#cookie-login-loading > p {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -5px;
}

#upload-file-dialog .modal-body > .container {
  padding: 0;
}

#file-upload-fake {
  padding: 8px 15px;
  cursor: pointer;
}

#file-upload-progress {
  height: 300px;
  max-width: 100%;
  overflow-x: hidden;
}

#upload-file-dialog .modal-footer .progress {
  height: 2px;
  width: 100%;
}

#file-upload-progress-footer {
  font-size: 13px;
  line-height: 40px;
}

#file-upload-progress-total-size-display {
  text-align: right;
}

#header {
  width: 100%;
  height: 50px;
}

#header .container, #header .row, #header .col-md-1, #header .col-md-3, #header .col-md-9 {
  height: 100%;
}

#header .container-fluid > .row {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#header .container-fluid > .row > .col-md-1 {
  border-right-style: solid;
  border-right-width: 1px;
}

#header #logo {
  font-family: 'Audiowide', cursive;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.wallet-toggle-button {
  position: absolute;
  line-height: 1;
  letter-spacing: .33pt;
  height: 51px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  right: 10px;
  width: 200px;
  overflow: hidden;
  border-width: 0 0 0 1px;
  border-style: solid;
}

.wallet-toggle-button:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;
  font-weight: 900;
  margin-left: 7px;
  transition: all .1s;
}

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.wallet-icon {
  margin: 0;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
}

.wallet-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  text-align: left;
  height: 24px;
  white-space: nowrap;
}

.wallet-label-top {
  font-size: .625rem;
  margin: 0;
}

.wallet-label-bottom {
  font-size: 15px;
  margin: 0;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  overflow: visible;
}

#wallet-logout-button {
  display: none;
}

#content {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  display: none;
}

#fs-empty-folder-display {
  position: absolute;
  z-index: 99;
  background: rgba(0,0,0,0.05);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: 0; right: 0; top:0; bottom: 0;
  margin: auto;
  text-align: center;
  color: rgba(0,0,0,0.5);
  box-shadow: inset 0 0 2em rgba(0,0,0,0.05);
  display: none;
}

#fs-empty-folder-icon {
  font-size: 100px;
  margin-top: 65px;
  color: rgba(0,0,0,0.09);
}

#fs-empty-folder-header {
  font-weight: 400;
}

#fs-empty-folder-content {
  font-size: 12px;
  font-weight: 200;
}

#account-dashboard {
  position:absolute;
  width: 300px;
  left:0;
  height: calc(100vh - 50px);
  padding: 25px;
  border-right-style: solid;
  border-right-width: 1px;
  z-index: 2;
  background: white;
}

#account-dashboard #new-file-upload {
  border-radius: 35px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  cursor: pointer;
  display: table;
  width: 70%;
  color: #dc3545;
}

#new-file-upload .fa-plus-circle {
  font-size: 62px;
}

#new-file-upload span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 22px;
}

.fs-dashboard-headers {
  text-transform: uppercase;
  font-weight: bold;
}

.fs-total-storage {
  font-size: 13px;
  color: rgba(0,0,0,0.5);
}

#content-fs {
  width: calc(100vw - 350px);
  height: calc(100vh - 50px);
  position: absolute;
  left: 300px;
}

#content-fs-header {
  width: 100%;
  height: 50px;
}

#content-fs-header > .container-fluid {
  height: 100%;
}

#content-fs-header > .container-fluid > .row {
  height: 100%;
  margin-left: -3%;
}

#content-fs-header > .container-fluid > .row > .col-md-2 {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  height: 100% !important;
  clip-path: polygon(90% 0%,100% 50%,90% 100%,0% 100%,10% 50%,0% 0%);
  box-shadow: inset 0 0 2em rgba(0,0,0,0.05);
}

#content-fs-header > .container-fluid > .row > .col-md-2 > span {
  font-size: 17px;
  color: rgba(0,0,0,0.7);
}

#content-fs-content .simplebar-content > .container {
  margin: 35px 75px !important;
}

#content-fs-content .simplebar-content > .container > .row {
  margin-bottom: 100px;
}

#content-fs .col {
  text-align: center;
}

#content-fs .fs-file-name {
  font-size: 15px;
}

.fs-file-icon {
  font-size: 60px;
  cursor: pointer;
  padding: 10px;
}

.popover {
  width: 250px;
  font-size: 15px;
  box-shadow: 0 0 2em rgba(0,0,0,0.3);
  border: none;
}

.popover-body {
  padding: 0 !important;
  border: 0 !important;
}

.popover-body .list-group-item {
  border: 0 !important;
  color: #555;
  text-decoration: none;
}

.popover-body .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.popover-body .list-group-item > i {
  width: 25px;
}

#contacts-connect  {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts-right-connect {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 3% 5%;
  cursor: pointer;
}

#dashboard-right {
  width: 50px;
  height: calc(100vh - 50px);
  position: absolute;
  right: 0;
  border-left-width: 1px;
  border-left-style: solid;
  display: table;
  padding: 20px 0;
}

#dashboard-right > .row {
  margin-bottom: 20px;
}

#dashboard-right > .row > .col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#dashboard-right > .row > .col > i {
  cursor: pointer;
  font-size: 20px;
}

.dashboard-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 0;
}

.dashboard-title {
  text-transform: uppercase;
  text-align: left;
}

.dashboard-close {
  font-size: 22px;
  cursor: pointer;
  text-align: right;
}

.dashboard-right {
  width: 300px;
  height: calc(100vh - 50px);
  position: absolute;
  right: -300px;
  text-align: center;
  padding: 0 !important;
  border-width: 0 0 0 1px;
  border-style: solid;
  z-index: 2;
}

#activity-dashboard-display {
  height: calc(100vh - 10px);
}

#contacts-display .row {
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  width: 250px;
  margin: 5px 25px;
}

#contacts-display {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#contacts-dashboard .fa-circle {
  position: absolute;
  font-size: 400px;
  z-index: -1;
  right: -100px;
  color: #12131f;
}

#add-new-contact {
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 10px;
}

#ui-id-1 {
  z-index:9999;
}
