#cookie-login-loading {
  color: #171a1d;
}

#file-upload-fake {
  background: #171a1d;
  color: #fff;
}

#upload-file-dialog .modal-footer {
  background: #171a1d;
}

#file-upload-progress-footer {
  color: #fff;
}

#header .row, #header .col-md-1, #header .col-md-2 {
  border-color: rgb(218, 220, 224);
}

.wallet-toggle-button {
  border-color: rgb(218, 220, 224);
}

.wallet-left {
  background-color: #1c1e2d;
}

.wallet-left .row {
  border-color: rgba(181,187,202,.1);
}

#account-dashboard {
  border-color: rgb(218, 220, 224);
}

#account-dashboard #new-file-upload {
  border-color: #dc3545;
}

#account-dashboard .fa-plus-circle {
  color: #dc3545;
}

#contacts-connect {
  background: rgba(255, 255, 255, 0.1);
}

#dashboard-right {
  border-left-color: rgb(218, 220, 224);
}

#contacts-dashboard-header {
  border-bottom-color: rgb(218, 220, 224);
}

#contacts-right-connect {
  border-color: rgba(181,187,202,.1);
  color: #fff;
  background: #12131f;
}

.contacts {
  border-color: rgb(218, 220, 224);
  background: white;
}

#contacts-display .row {
  border-color: rgb(218, 220, 224);
}
