#cookie-login-loading {
  color: #171a1d;
}

#file-upload-fake {
  background: #171a1d;
  color: #fff;
}

#upload-file-dialog .modal-footer {
  background: #171a1d;
}

#file-upload-progress-footer {
  color: #fff;
}

#header {
  background: #171a1d;
  color: #fff;
}

#header .row, #header .col-md-1, #header .col-md-2 {
  border-color: rgba(181,187,202,.1);
}

.wallet-toggle-button {
  border-color: rgba(181,187,202,.1);
}

.wallet-toggle-button:after {
  color: #b0bccc;
}

.wallet-label-top {
  color: #b0bccc;
}

.wallet-label-bottom {
  color: #fff;
}

.wallet-left {
  background-color: #1c1e2d;
}

.wallet-left .row {
  border-color: rgba(181,187,202,.1);
}

#contacts-connect {
  background: rgba(255, 255, 255, 0.1);
}

#contacts-right-connect {
  border-color: rgba(181,187,202,.1);
  color: #fff;
  background: #12131f;
}

.contacts {
  background: #1c1e2d;
  color: white;
  box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.02), inset 0 1px 0 0 hsla(0,0%,100%,.02), inset 0 0 0 1px hsla(0,0%,100%,.02);
  border-color: rgba(181,187,202,0.1);
}

.contacts .row {
  border-color: rgba(181,187,202,.1);
}

#add-new-contact {
  color: #17a2b8;
}

#footer {
  border-color: rgba(181,187,202,.1);
  background-color: #171a1d;
  z-index: 99;
}
